.submit {
background-color: #4CAF50;
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-top: 2px;
cursor: pointer;
}

form {
  right: 0;
  position: absolute;
  width: 166px;
}
